#nav_menu {
    padding-bottom: 1em;
}
#nav_menu ul {
    list-style-type: none;
}
ol.upper-roman {
    list-style-type: upper-roman;
}
ul.square {
list-style-type: square;
}
ol.lower-alpha {
    list-style-type: lower-alpha;
}
#nav_menu ul li {
    float: left;
}
    #nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(44, 82, 144);
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
    margin-bottom: 20px;
}
#nav_menu ul li a.current {
    color: yellow;
}
header {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 2px solid darkblue;
    text-align: left;
}
article {
    clear: left;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 4px dashed darkblue;
    column-gap: 2em;
    margin-left: 2em;
}
article h1 {
    padding-top: 30px;
}
article h2 {
    margin-top: 1em;
    margin-left: 0;
    margin-bottom: 2em;
}
article h3 {
    column-span: all;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: darkslateblue;
}
aside {
    width: 20%;
    float: right;
    background: rgb(184, 218, 248);
    padding-left: 10px;
    padding-bottom: 3px;
    border: 3px solid darkblue;
    margin-top: 2em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em; 
    border: 1px solid rgb(7, 9, 129);
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/flower.png");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
header h1 {
    margin-top: 0;
    margin-left: 1em;
    padding-top: 0;
}
a:focus, a:hover {
    font-style: italic;
    color: darkslateblue;
    border: 3px darkslateblue;
    border-style: dotted solid;
}
footer {
    clear: both;
    border-top: 2px solid darkslateblue;
}
footer p{
    text-align: center;
}
