#nav_menu ul {
    list-style-type: none;
}
    #nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu ul li a.current {
    color: yellow;
}
article h1 {
    padding-top: 75px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em; 
    border: 1px solid darkslateblue;
    border-radius: 25px;
}
a:focus, a:hover {
    font-style: italic;
    color: darkslateblue;
    border: 3px darkslateblue;
    border-style: dotted solid;
}
header{
    border-bottom: 2px solid darkslateblue;
}
h2 {
    padding: 1em;
}