html {
    background-image: linear-gradient(to bottom, white 0%, #f3bce5 100%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em; 
    border: 1px solid rgb(196, 104, 184);
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/sakurar2.png");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;

}
a:focus, a:hover {
    font-style: italic;
    color: pink;
}
header h1 {
    font-size: 175%; 
    color: rgb(196, 104, 184);
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: #e47cdd;
    text-indent: 30px;
}
header img {
    float: left;
    margin-left: 2em;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(176, 77, 171);
}
main {
    clear: left;
}
main h3{
    margin: 3em 2em 1.5em;
    padding: 1em;
    border: 5px double rgb(211, 89, 189);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgb(182, 86, 154);
    font-size: 105%;
}
main nav{
    margin: 1.5em 2em 1.5em;
    padding: 0.5em;
    border: 5px dashed rgb(211, 89, 189);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgb(182, 86, 154);
    font-size: 105%;
}
main div{
    margin: 1.5em 2em 0em;
    padding: 1em;
    border: 5px dotted rgb(211, 89, 189);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgb(182, 86, 154);
    font-size: 105%;
}
#list {
    line-height: 1.5em;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}